@model Bid

@{
    ViewData["Title"] = "Add Bid";
}

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <h2 class="heading-margin text-center">@ViewData["Title"]</h2>

        <form method="post">
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="BidAmount"></label>
                    <input asp-for="BidAmount" class="form-control" placeholder="Insert your bid">
                    <span asp-validation-for="BidAmount" class="small text-danger"></span>
                </div>
            </div>

            <input class="btn btn-primary" type="submit" value="Save" />
        </form>
    </div>
</div>