@model Bid

<h1>The winner of the auction is @Model.BidderName with bid amount of: @Model.BidAmount</h1>
<div class="button-holder">
    <a class="btn btn-block btn-primary text-white mb-5" href="/Auction/All">Return to Auction</a>
</div>
