@model FightingHeroesViewModel


<partial name="_HeroFightModel" model="@Model.Attacker" />


    <img src="https://image.freepik.com/free-vector/versus-vs-logo-battle-headline-template-sparkling-lightning-design_159025-56.jpg" class="rounded float-md-none" width="100" height="100" alt="Computer Hope">

    @if (Model.Attacker.RemainingHealth <= 0 || Model.Defender.RemainingHealth <= 0)
    {
        <div class="button-holder">
            <a href="/BattleArena/EndFight?heroId=@Model.Attacker.Id&&RemainingHealth=@Model.Attacker.RemainingHealth" class="btn btn-primary">EndFight</a>
        </div>
    }

    <partial name="_HeroFightModel" model="@Model.Defender" />

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }

