@model PlayerInfoViewModel

<div class="container">
    <h1 class="text-center">@Model.Username</h1>
    <div class="row text-center">
        <div class="col-md-6">
            <p class="row text-center"><strong>Gold: @Model.Gold Gold </strong></p>
            <p class="row text-center"><strong>Level: @Model.Level </strong></p>
            <p class="row text-center"><strong>Experience Points: @Model.ExperiencePoints/@Model.RequiredExperiencePoints </strong></p>
        </div>
    </div>
</div>