@model HeroModel

@{
    ViewData["Title"] = "Add Hero";
}

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <h2 class="heading-margin text-center">Add Hero</h2>

        <form method="post">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" placeholder="Insert Hero Name">
                <span asp-validation-for="Name" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeroType"></label>
                <select asp-for="HeroType" class="form-control">
                    
                    <option value="Assassin">Assassin</option>
                    <option value="Tank">Tank</option>
                    <option value="Mage">Mage</option>
                    
                </select>
            </div>

            <input class="btn btn-primary" type="submit" value="Save" />
        </form>
    </div>
</div>